---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Backend Engineer",
    company: "Supermarket23",
    description:
      "Encargado de dar soporte a aplicación encargada de realizar las transacciones de pago de los usuario .Implementacion de pasarelas de pago como Redsys, Revolut, Stripe, Poynt, entre otras.",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "Septiembre 2021",
    title: "Principal Frontend Engineer",
    company: "Naroca",
    description:
      "Página web destinada a la reserva de asientos de bus. Tecnologías utilizadas: Angular y Primeng",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
