---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Backend Engineer",
    company: "Supermarket23",
    description:
      "Encargado de dar soporte a aplicación encargada de realizar las transacciones de pago de los usuario .Implementacion de pasarelas de pago como Redsys, Revolut, Stripe, Poynt, entre otras.",
    // link: "https://twitch.tv/midudev",
    responsibilities: [
        "Soporte y Mantenimiento de Aplicaciones de Pago: Responsable del soporte y mejora continua de la aplicación encargada de gestionar las transacciones de pago de los usuarios.",
        "Integración de Pasarelas de Pago: Implementación de diversas pasarelas de pago como Redsys, Revolut, Stripe, Poynt, entre otras, utilizando flujos de pago como hosted pages, card tokenization y API-based transactions.",
        "Cumplimiento de PCI Compliance: Gestión y ejecución de pruebas para asegurar el cumplimiento con las normativas de PCI Compliance, garantizando la seguridad y fiabilidad de las transacciones.",
        "Optimización de Procesos: Mejoramiento de la eficiencia de los flujos de pago, asegurando una experiencia de usuario fluida y segura."
    ]
  },
  {
    date: "Septiembre 2021",
    title: "Principal Frontend Engineer",
    company: "Naroca",
    responsabilities:[
      "Página web destinada a la reserva de asientos de bus. Tecnologías utilizadas: Angular y Primeng",
    ]
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
