---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date: "Actualmente...",
        title: "Backend Engineer",
        company: "Treew Inc.",
        responsibilities: [
            "Integración de Pasarelas de Pago.",
            "Integración a APIs para la prevención de fraudes.",
            "Cumplimiento de PCI Compliance.",
            "Optimización de Procesos.",
            "Desarrollo de APIs RESTful.",
            "Mantenimiento y Desarrollo del buscador de la plataforma.",
            "Desarrollo de Herramientas de Administración.",
            "Integración con el API de ChatGPT.",
        ]
    },
    {
        date: "Septiembre 2021",
        title: "Principal Frontend Engineer",
        company: "Naroca",
        responsibilities: [
            "Desarrollo del Sistema de Reserva de Asientos de Autobús",
            "Diseño de Interfaces Responsivas",
            "Validación de Flujos de Negocio",
            "Integración de APIs",
            "Desarrollo de Herramientas de Administración",
        ]
    },
]
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experiencie) => (
                <li class="">
                    <ExperienceItem {...experiencie}/>
                </li>
        ))
    }
</ol>
